<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('_header'); -%>
    <form action="" method="post">
      <input
        type="text"
        name="batch"
        placeholder="Enter Your Batch
        "
        required
      />
      <h3>Student Details</h3>
      <input
        type="text"
        name="college"
        placeholder="Enter Your College name
        "
        required
      />
      <input
        type="text"
        name="status"
        placeholder="Your status
        "
        required
      />
      <h3>Course Scores</h3>
      <input
        type="text"
        name="dsa_final_score"
        placeholder="Your Scores
        "
        required
      />
      <input
        type="text"
        name="webd_final_score"
        placeholder="Your Scores
        "
        required
      />
      <input
        type="text"
        name="react_final_score"
        placeholder="Your Scores
        "
        required
      />
      <h3>Interviews</h3>
      <input
        type="text"
        name="company_name"
        placeholder="Your Scores
        "
        required
      />
      <input
        type="datetime"
        name="date"
        placeholder="Your Scores
        "
        required
      />

      <h3>Result</h3>
      <input
        type="submit"
        value="Submit"
      />
    </form>
    <%- include('_footer'); -%>
  </body>
</html>
